:root {
  --a-hover-color: whitesmoke;
  --full-higth: 100%;
  --green-color: rgb(124, 199, 124);
}

/*---------first page---------*/
/* navbar */
.navebar__right-side {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  font-size: 1.2rem;
}
.navebar__right-side a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.navebar__right-side a:hover {
  border: 1px solid var(--a-hover-color);
  border-radius: 15px;
  background-color: var(--a-hover-color);
}
.navbar h1 {
  color: black;
}

.navbar-and-logo {
  display: flex;
  justify-content: space-between;
  background-color: var(--green-color);
  opacity: 0.6;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
}

/*-----main page content-------*/
.main-page__content {
  padding: 0;
  margin: 0;
}

.main-page {
  height: 100vh;
  background: url(/images/daniel-schludi-l8cvrt3Hpec-unsplash.jpg) no-repeat
    center center/cover;
  position: relative;
  color: beige;
  margin: 0;
  padding: 0;
}

.main-page__content {
  display: flex;
  height: var(--full-higth);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 15px;
}

.main-page__content p {
  max-width: 600px;
}

.main-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--full-higth);
  background-color: rgba(0, 0, 0, 0.6);
}

.main-page * {
  z-index: 4;
}
.main-page__content__btn {
  margin: 20px;
}
.main-page__content__btn a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--green-color);
  opacity: 0.7;
  padding: 10px;
}
.main-page__content__btn a:hover {
  background-color: gray;
}

/*--------contact icons-------*/
.contact {
  background-color: gray;
  /* max-height: 20%; */
}

.contact__flex-items {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: var(--full-higth);
  padding: 0.5rem 0;
}

.fab {
  color: black;
}
.contact__flex-items > div > div {
  padding: 0 1rem;
}

/*-------------about me page-------------*/
.about-me-page {
  height: 100vh;
  background: url("/images/hosein-zanbori-wvbOWcIDuYg-unsplash\ \(1\).jpg")
    no-repeat center center/cover;
  position: relative;
  color: beige;
  margin: 0;
  padding: 0;
  opacity: 1;
}

@media (max-width: 600px) {
  /*----------first bage----------*/
  .navbar-and-logo {
    flex-direction: column;
    height: 120px;
    padding: 0;
    margin: 2px;
  }
  .navbar-and-logo > h1 {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .navebar__right-side {
    padding: 0;
    margin: 0;
    text-align: center;
    align-self: center;
    /* padding-left: 0 25px; */
  }
  .navebar__right-side a {
    padding: 10px;
    /* margin: 5px 0; */
    text-align: center;
  }
}
